<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    li {
      list-style: none;
    }
    #car {
      width: 1000px;
      margin: 100px auto;
    }
    li {
      padding: 7px 10px;
    }
    li input[type=text] {
      width: 20px;
      height: 20px;
      text-align: center;
    }
    li button {
      width: 30px;
      height: 30px;
    }
    #all{
        margin-left: 53px;
    }
  </style>
</head>
<body>
  <div id="app">
    <my-car></my-car>
  </div>
</body>
<script src="./vue.js"></script>
<script type="text/x-template" id="component">
  <div id="car">
    <h1>购物车</h1>
    <hr />
    <ul v-for="(item,i) in list">
      <li>
        <input type="checkbox" v-model="item.isChecked">
        <span>{{item.name}}</span>
        单价:
        <span>{{item.price}}</span>
        <button type="button" v-on:click="onMinus(i)">-</button>
        <input type="text" v-model='item.count'>
        <button type="button" v-on:click="onPlus(i)">+</button>
        总价:
        <span>{{item.total}}</span>
        <button type="button" style="width: 50px;" v-on:click="onDel(i)">删除</button>
      </li>
    </ul>
    <div>
      <input type="checkbox" id="all" v-model="allChecked">
      <label for="all">全选</label>
      总价:
      <span style="font-size: 24px;">{{allTotal}}</span>
      <button type="button" v-on:click="allDel">全部删除</button>
    </div>
  </div>
</script>
<script>

  let list = [
    {
      name: 'HUAWEI P30 Pro',
      price: 1000,
      count: 1,
      total: 1000
    },
    {
      name: 'HUAWEI P20 Pro',
      price: 2000,
      count: 1,
      total: 2000
    },
    {
      name: 'HUAWEI P10 Pro',
      price: 3000,
      count: 1,
      total: 3000
    },
    {
      name: 'HUAWEI P05 Pro',
      price: 4000,
      count: 1,
      total: 4000
    },
    {
      name: 'HUAWEI P01 Pro',
      price: 5000,
      count: 1,
      total: 5000
    }
  ];
  list.forEach(item=>{
    item.isChecked = true;
  })
  Vue.component('my-car', {
    template: '#component',
    data() {
      return {
        list
      }
    },
    computed: {
        "allChecked": {
            get() {
                if(this.list.length > 0) {
                return this.list.every(item => {
                        return item.isChecked;
                    });
                } else {
                    return false;
                }
            },
            set(value) {
                this.list.forEach(item => {
                    item.isChecked = value;
                })
            }
        },
        'allTotal': function() {
            return this.list.reduce((sum,item)=>{
                return sum + item.total
            },0)
        }
      },
    methods: {
        onMinus(i) {
            if(this.list[i].count>0){
                this.list[i].count--;
                this.list[i].total = this.list[i].price*this.list[i].count;
            }
        },
        onPlus(i) {
            this.list[i].count++;
            this.list[i].total = this.list[i].price*this.list[i].count;
        },
        onDel(i) {
            this.list.splice(i,1);
        },
        allDel() {
            this.list = this.list.filter(item=>{
               return !item.isChecked;
            })
        }
    }
  });
  new Vue({
    el: '#app'
  })
</script>
</html>
